.input{
    padding: 6px 12px;
    border: 1px solid rgb(118, 182, 255);
    border-radius: 1rem;
}

.label{
    position: relative;
}

.input:focus,
input:hover{
    outline: none ;
    border: 1px solid rgb(79, 156, 245);
    box-shadow: .3px 0px 5px rgb(162, 0, 255);
    border-radius: 1rem;
    transition: all .2s;
}

.input:disabled{
    outline: none ;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 1rem;
    background-color: rgb(226, 218, 218);
}