.container{
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.containerTable{
    width: 800px;
    border: 1px solid rgb(240, 240, 240);
    padding: 5rem;
    box-shadow: 1px 1px 50px  rgb(223, 223, 223);
}

.header{
    display: flex;
    justify-content: space-evenly;
}

.saldos th{
    border-style: hidden;
    width: 50%;
}

.saldos{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    border: 1px solid gray;
}

.btnSair{
    margin: 3rem;
}